{% extends "base.html.twig" %}

{% block body %}
    <h1>Ajouter une category</h1>

    {{ form_start(form) }}
    {{ form_row(form.name) }}
    <button type="submit" name="btnSearch">Ajouter</button>
    {{ form_end(form) }}
{% endblock %}